openapi: 3.1.0
info:
  title: Slancha API
  description: |
    The Slancha API gives you programmatic access to the full eval → deploy → post-train lifecycle.

    Inference endpoints are OpenAI-compatible — if you're already using the OpenAI SDK, switching is a one-line change.

    The API closes the loop automatically: route → analyze → fine-tune → optimize → redeploy. Zero technical overhead.
  version: 1.4.0
  contact:
    name: Slancha Support
    email: support@slancha.ai
    url: https://slancha.ai/contact
  license:
    name: Proprietary
    url: https://slancha.ai/terms
  x-logo:
    url: https://slancha.ai/slancha-logo.svg

servers:
  - url: https://api.slancha.ai/v1
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Inference
    description: OpenAI-compatible chat completions and model listing
  - name: Evaluations
    description: Create, run, and manage model evaluation pipelines
  - name: Deployments
    description: Deploy, scale, and monitor model endpoints
  - name: Fine-Tuning
    description: Create and manage LoRA fine-tuning jobs
  - name: Datasets
    description: Upload and manage training/evaluation datasets
  - name: Router
    description: Configure the smart routing engine
  - name: Webhooks
    description: Register event notification endpoints

paths:
  /chat/completions:
    post:
      operationId: createChatCompletion
      summary: Create a chat completion
      description: OpenAI-compatible chat completion endpoint. Use `model: "auto"` for smart routing.
      tags: [Inference]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /models:
    get:
      operationId: listModels
      summary: List available models
      description: Returns all models available in your account, including deployed fine-tunes.
      tags: [Inference]
      responses:
        '200':
          description: List of models
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'

  /evaluations:
    post:
      operationId: createEvaluation
      summary: Create an evaluation run
      description: Run an evaluation against one or more models using a dataset and specified metrics.
      tags: [Evaluations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEvaluationRequest'
      responses:
        '201':
          description: Evaluation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evaluation'
    get:
      operationId: listEvaluations
      summary: List evaluation runs
      tags: [Evaluations]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [running, completed, failed]
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: List of evaluations
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Evaluation'

  /evaluations/{evaluation_id}:
    get:
      operationId: getEvaluation
      summary: Get evaluation details
      description: Returns detailed results including per-model scores.
      tags: [Evaluations]
      parameters:
        - name: evaluation_id
          in: path
          required: true
          schema:
            type: string
            example: eval-7f3k9x
      responses:
        '200':
          description: Evaluation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationDetail'

  /evaluations/{evaluation_id}/promote:
    post:
      operationId: promoteEvaluation
      summary: Promote winning model to deployment
      description: Deploy the winning model from an evaluation directly to a deployment slot.
      tags: [Evaluations]
      parameters:
        - name: evaluation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, deployment]
              properties:
                model:
                  type: string
                  description: Model ID to promote
                deployment:
                  type: string
                  description: Target deployment ID
                strategy:
                  type: string
                  enum: [immediate, canary, blue_green]
                  default: immediate
                canary_percent:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: Traffic percentage for canary deployment
      responses:
        '200':
          description: Promotion initiated

  /deployments:
    post:
      operationId: createDeployment
      summary: Create a deployment
      description: Deploy a model to a dedicated endpoint with autoscaling.
      tags: [Deployments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
      responses:
        '201':
          description: Deployment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
    get:
      operationId: listDeployments
      summary: List all deployments
      tags: [Deployments]
      responses:
        '200':
          description: List of deployments
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'

  /deployments/{deployment_id}:
    get:
      operationId: getDeployment
      summary: Get deployment details
      description: Returns deployment status and live metrics.
      tags: [Deployments]
      parameters:
        - name: deployment_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deployment details with metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentDetail'
    delete:
      operationId: deleteDeployment
      summary: Delete a deployment
      description: Shut down a deployment and release resources.
      tags: [Deployments]
      parameters:
        - name: deployment_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deployment deleted

  /fine-tuning/jobs:
    post:
      operationId: createFineTuningJob
      summary: Create a fine-tuning job
      description: |
        Create a LoRA fine-tuning job. Optionally link to an evaluation to auto-curate training data
        from misclassified examples, and set auto-promote rules to deploy when quality thresholds are met.
      tags: [Fine-Tuning]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFineTuningJobRequest'
      responses:
        '201':
          description: Fine-tuning job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTuningJob'
    get:
      operationId: listFineTuningJobs
      summary: List fine-tuning jobs
      tags: [Fine-Tuning]
      parameters:
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of fine-tuning jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FineTuningJob'

  /fine-tuning/jobs/{job_id}:
    get:
      operationId: getFineTuningJob
      summary: Get fine-tuning job details
      description: Returns job status, training metrics, and auto-promote status.
      tags: [Fine-Tuning]
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Fine-tuning job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTuningJobDetail'

  /fine-tuning/jobs/{job_id}/cancel:
    post:
      operationId: cancelFineTuningJob
      summary: Cancel a fine-tuning job
      tags: [Fine-Tuning]
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job cancelled

  /datasets:
    post:
      operationId: uploadDataset
      summary: Upload a dataset
      description: Upload a JSONL dataset for evaluations or fine-tuning.
      tags: [Datasets]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, name, purpose]
              properties:
                file:
                  type: string
                  format: binary
                  description: JSONL file
                name:
                  type: string
                  description: Dataset name
                purpose:
                  type: string
                  enum: [fine-tuning, evaluation, both]
      responses:
        '201':
          description: Dataset uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
    get:
      operationId: listDatasets
      summary: List datasets
      tags: [Datasets]
      responses:
        '200':
          description: List of datasets
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'

  /datasets/{dataset_id}:
    get:
      operationId: getDataset
      summary: Get dataset metadata
      tags: [Datasets]
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
    delete:
      operationId: deleteDataset
      summary: Delete a dataset
      tags: [Datasets]
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dataset deleted

  /router/config:
    get:
      operationId: getRouterConfig
      summary: Get router configuration
      description: Returns the current smart routing rules, strategy, and 30-day savings.
      tags: [Router]
      responses:
        '200':
          description: Router configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterConfig'
    put:
      operationId: updateRouterConfig
      summary: Update router configuration
      description: Set routing strategy, rules, and fallback model.
      tags: [Router]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRouterConfigRequest'
      responses:
        '200':
          description: Router config updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterConfig'

  /webhooks:
    post:
      operationId: createWebhook
      summary: Register a webhook
      description: Subscribe to events like evaluation completion, fine-tuning completion, deployment status changes.
      tags: [Webhooks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API key in format: sk-sl_xxxxxxxxxxxx'

  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Maximum number of results
    After:
      name: after
      in: query
      schema:
        type: string
      description: Cursor for pagination

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              type: rate_limit_exceeded
              message: Rate limit exceeded. Retry after 1 second.

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string

    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          description: Model name or `"auto"` for smart routing
          example: auto
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant, tool]
              content:
                type: string
          minItems: 1
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
        max_tokens:
          type: integer
          minimum: 1
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 1
        stream:
          type: boolean
          default: false
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
        tools:
          type: array
          items:
            type: object
          description: Function/tool definitions for tool use
        tool_choice:
          oneOf:
            - type: string
              enum: [auto, none]
            - type: object

    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
          example: chatcmpl-abc123
        object:
          type: string
          enum: [chat.completion]
        created:
          type: integer
        model:
          type: string
          description: The model that actually handled the request (resolved by router)
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                    enum: [assistant]
                  content:
                    type: string
              finish_reason:
                type: string
                enum: [stop, length, tool_calls]
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer

    Model:
      type: object
      properties:
        id:
          type: string
          example: llama-3.1-70b
        object:
          type: string
          enum: [model]
        owned_by:
          type: string
          enum: [slancha, user]
        capabilities:
          type: array
          items:
            type: string
            enum: [chat, function_calling, vision, embeddings]
        context_length:
          type: integer
          example: 131072
        fine_tune_id:
          type: string
          description: Present only for fine-tuned models

    CreateEvaluationRequest:
      type: object
      required: [name, dataset, models, metrics]
      properties:
        name:
          type: string
          description: Human-readable eval name
        dataset:
          type: string
          description: Dataset ID or inline test cases
        models:
          type: array
          items:
            type: string
          minItems: 1
          description: Model IDs to evaluate
        metrics:
          type: array
          items:
            type: string
            enum: [accuracy, latency, cost, toxicity, coherence, relevance, faithfulness]
          minItems: 1
        judge:
          type: object
          properties:
            model:
              type: string
              default: gpt-4o
            rubric:
              type: string
          description: LLM-as-judge configuration
        split:
          type: string
          enum: [test, validation, all]
          default: test
        concurrency:
          type: integer
          minimum: 1
          maximum: 50
          default: 10

    Evaluation:
      type: object
      properties:
        id:
          type: string
          example: eval-7f3k9x
        object:
          type: string
          enum: [evaluation]
        status:
          type: string
          enum: [running, completed, failed]
        name:
          type: string
        models:
          type: array
          items:
            type: string
        metrics:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        progress:
          type: object
          properties:
            completed:
              type: integer
            total:
              type: integer

    EvaluationDetail:
      allOf:
        - $ref: '#/components/schemas/Evaluation'
        - type: object
          properties:
            results:
              type: object
              additionalProperties:
                type: object
                properties:
                  accuracy:
                    type: number
                  latency_p50_ms:
                    type: integer
                  latency_p99_ms:
                    type: integer
                  cost_per_1k_tokens:
                    type: number
                  relevance:
                    type: number
            winner:
              type: string
            dataset_size:
              type: integer
            completed_at:
              type: string
              format: date-time

    CreateDeploymentRequest:
      type: object
      required: [name, model]
      properties:
        name:
          type: string
          description: Unique deployment name
        model:
          type: string
        min_replicas:
          type: integer
          minimum: 0
          default: 1
        max_replicas:
          type: integer
          minimum: 1
          default: 1
        gpu_type:
          type: string
          enum: [a100, h100, l40s, b200, b300]
          description: GPU type. Default is auto-selected.
        region:
          type: string
          enum: [us-east, us-west, eu-west]
          default: us-east
        scaling_metric:
          type: string
          enum: [requests_per_second, gpu_utilization, queue_depth]
        scaling_target:
          type: number

    Deployment:
      type: object
      properties:
        id:
          type: string
          example: dep-9xk3m7
        object:
          type: string
          enum: [deployment]
        name:
          type: string
        status:
          type: string
          enum: [provisioning, running, scaling, unhealthy, stopped]
        model:
          type: string
        endpoint:
          type: string
          format: uri
        replicas:
          type: object
          properties:
            desired:
              type: integer
            ready:
              type: integer
        gpu_type:
          type: string
        region:
          type: string
        created_at:
          type: string
          format: date-time

    DeploymentDetail:
      allOf:
        - $ref: '#/components/schemas/Deployment'
        - type: object
          properties:
            metrics:
              type: object
              properties:
                requests_per_second:
                  type: number
                latency_p50_ms:
                  type: integer
                latency_p99_ms:
                  type: integer
                gpu_utilization:
                  type: number
                uptime:
                  type: string

    CreateFineTuningJobRequest:
      type: object
      required: [model, training_file]
      properties:
        model:
          type: string
          description: Base model to fine-tune
        training_file:
          type: string
          description: Dataset ID (JSONL format)
        validation_file:
          type: string
        suffix:
          type: string
          description: Custom model name suffix
        hyperparameters:
          type: object
          properties:
            n_epochs:
              oneOf:
                - type: integer
                - type: string
                  enum: [auto]
              default: auto
            batch_size:
              oneOf:
                - type: integer
                - type: string
                  enum: [auto]
              default: auto
            learning_rate_multiplier:
              oneOf:
                - type: number
                - type: string
                  enum: [auto]
              default: auto
            lora_rank:
              type: integer
              enum: [8, 16, 32, 64]
              default: 16
            warmup_ratio:
              type: number
              default: 0.1
        eval_id:
          type: string
          description: Link to an eval to auto-curate training data from misclassified examples
        auto_promote:
          type: object
          properties:
            deployment:
              type: string
            metric:
              type: string
              enum: [accuracy, latency, cost, relevance]
            threshold:
              type: number
            strategy:
              type: string
              enum: [immediate, canary, blue_green]
            canary_percent:
              type: integer
              minimum: 1
              maximum: 100

    FineTuningJob:
      type: object
      properties:
        id:
          type: string
          example: ft-job-m4x2n8
        object:
          type: string
          enum: [fine_tuning.job]
        status:
          type: string
          enum: [queued, running, succeeded, failed, cancelled]
        model:
          type: string
        training_file:
          type: string
        created_at:
          type: string
          format: date-time
        estimated_completion:
          type: string
          format: date-time
        hyperparameters:
          type: object
        auto_promote:
          type: object

    FineTuningJobDetail:
      allOf:
        - $ref: '#/components/schemas/FineTuningJob'
        - type: object
          properties:
            fine_tuned_model:
              type: string
              description: Model ID of the fine-tuned model (once completed)
            completed_at:
              type: string
              format: date-time
            training_metrics:
              type: object
              properties:
                train_loss:
                  type: number
                eval_loss:
                  type: number
                eval_accuracy:
                  type: number

    Dataset:
      type: object
      properties:
        id:
          type: string
          example: ds-support-train-v3
        object:
          type: string
          enum: [dataset]
        name:
          type: string
        purpose:
          type: string
          enum: [fine-tuning, evaluation, both]
        size_bytes:
          type: integer
        num_examples:
          type: integer
        created_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [processing, processed, error]

    RouterConfig:
      type: object
      properties:
        object:
          type: string
          enum: [router_config]
        strategy:
          type: string
          enum: [cost_optimized, quality_first, latency_optimized, balanced]
        rules:
          type: array
          items:
            type: object
            properties:
              condition:
                type: string
              route_to:
                type: string
              reason:
                type: string
        fallback:
          type: string
        cost_savings_30d:
          type: string

    UpdateRouterConfigRequest:
      type: object
      properties:
        strategy:
          type: string
          enum: [cost_optimized, quality_first, latency_optimized, balanced]
        rules:
          type: array
          items:
            type: object
            required: [condition, route_to]
            properties:
              condition:
                type: string
              route_to:
                type: string
        fallback:
          type: string

    CreateWebhookRequest:
      type: object
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
          description: HTTPS endpoint to receive webhook events
        events:
          type: array
          items:
            type: string
            enum:
              - evaluation.completed
              - fine_tuning.completed
              - fine_tuning.failed
              - deployment.ready
              - deployment.unhealthy
              - deployment.scaled
              - auto_promote.triggered
              - route.updated
        secret:
          type: string
          description: Shared secret for webhook signature verification

    Webhook:
      type: object
      properties:
        id:
          type: string
          example: wh-x7k2m9
        object:
          type: string
          enum: [webhook]
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, disabled]
